{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                 <a href="https://fotohive.alextldr.com/">Checkout my other projects!</a> 
            </div>
        </div>
    </div>
{{end}}